{% for notification in notifications %}
    <div class="col-12 notification">
        <p class="title"><b>{{ notification.item.name }}</b> was found!</p>
        <p>{{ notification.seller }} posted {{ notification.item.name }} for {{ notification.price }} platinum at {{ notification.date|date("Y-m-d H:i") }}</p>
    </div>

{% endfor %}
