<div class="modal">
    <div id="background">
        <div class="row">
            <div class="col-6 offset-3 container wrapper" id="follow">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12 modalBody" id="addNew">
                            <div class="row">
                                <div class="col-12 title">
                                    <div class="col-11"><p>Add item to watch</p></div>
                                    <div class="col-1 closeButton smallExit" data-title="Close form"><i class="icon icon-cancel"></i></div>
                                </div>
                            </div>
                            <div class="row col-12" id="content">
                                <div class="col-12" id="itemOrRivenSelector">
                                    <div class="col-5 icon" id="selectItemForm">
                                        <div class="col-12">
                                            <p>Item form</p>
                                        </div>
                                    </div>
                                    <div class="col-5 offset-2 icon" id="selectRivenForm">
                                        <div class="col-12">
                                            <p>Riven form</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12" id="rivenForm">
                                    {# it's called as ajax request #}
                                    <form action="{{ url('riven_add') }}" method="post" id="rivenFollow" class="col-12" autocomplete="off">
                                        <div class="form-group col-12">
                                            <span><label for="rivenWeaponName">Search for weapon</label></span><br>
                                            <input list="itemsList" type="text" class="col-12 rivenList" id="rivenWeaponName" name="name" placeholder="Search..." required>
                                        </div>
                                        <div class="form-group col-12 mt-3">
                                            <div class="col-12 d-inline-flex">
                                                <p class="col-3">Attributes (optional)</p>
                                                <p class="offset-1">Parameter</p>
                                                <p class="offset-4">Value</p>
                                            </div>

                                            <div class="col-12 d-inline-flex">
                                                <p class="col-3">
                                                    <label for="rivenAttrPositive1">Positive Attribute</label>
                                                </p>
                                                <input list="rivenAttributesList" id="rivenAttrPositive1" type="text" name="rivenAttribute[]" class="col-4 offset-1">
                                                <input type="number" name="rivenAttributeValue[]" class="offset-1 col-3" step="0.1">
                                            </div>
                                            <div class="col-12 d-inline-flex">
                                                <p class="col-3">
                                                    <label for="rivenAttrPositive2">Positive Attribute</label>
                                                </p>
                                                <input list="rivenAttributesList" id="rivenAttrPositive2" type="text" name="rivenAttribute[]" class="col-4 offset-1">
                                                <input type="number" name="rivenAttributeValue[]" class="offset-1 col-3" step="0.1">
                                            </div>
                                            <div class="col-12 d-inline-flex">
                                                <p class="col-3">
                                                    <label for="rivenAttrPositive3">Positive Attribute</label>
                                                </p>
                                                <input list="rivenAttributesList" id="rivenAttrPositive3" type="text" name="rivenAttribute[]" class="col-4 offset-1">
                                                <input type="number" name="rivenAttributeValue[]" class="offset-1 col-3" step="0.1">
                                            </div>
                                            <div class="col-12 d-inline-flex">
                                                <p class="col-3">
                                                    <label for="rivenAttrNegative">Negative Attribute</label>
                                                </p>
                                                <input list="rivenAttributesList" id="rivenAttrNegative" type="text" name="rivenAttribute[]" class="col-4 offset-1">
                                                <input type="number" name="rivenAttributeValue[]" class="offset-1 col-3" step="0.1">
                                            </div>
                                        </div>
                                        <div class="form-group col-12">
                                            <span><label for="rivenPrice">Price</label></span><br>
                                            <input type="number" name="price" placeholder="Price for item" id="rivenPrice" required>
                                        </div>
                                        <div class="col-12 mt-3" id="buttons">
                                            <div class="col-4">
                                                <button class="btn btn-outline-secondary closeButton" data-title="Cancel adding">Cancel</button>
                                            </div>
                                            <div class="col-2 offset-6">
                                                <button type="submit" class="btn btn-outline-primary submit" data-title="Add to watchlist">Create</button>
                                            </div>
                                        </div>

                                        <div class="d-none">
                                            <datalist id="rivenAttributesList" data-attributes="{{ RivenService.getAttributeList }}">
                                                {% for attribute in RivenService.getAttributeList %}
                                                    <option value="{{ attribute.id }}">{{ attribute.name }}</option>
                                                {% endfor %}
                                            </datalist>
                                        </div>

                                    </form>
                                </div>

                                <div class="col-12" id="itemForm">
                                    {# it's called as ajax request #}
                                    <form action="{{ url('item_add') }}" method="post" id="formFollow" class="col-12" autocomplete="off">
                                        <div class="form-group col-12">
                                            <span><label for="itemNameinput">Search for item part</label></span><br>
                                            <input list="itemsList" type="text" class="col-12 itemNameinput" id="itemNameinput" name="name" placeholder="Search...">
                                        </div>
                                        <div class="form-group col-12">
                                            <span><label for="itemPrice">Price</label></span><br>
                                            <input type="number" name="price" placeholder="Price for item" id="itemPrice" max="99999">
                                        </div>
                                        <div class="form-group col-12">
                                            <span><label for="platformChangeUser">Platform</label></span><br>
                                            <select class="platform" id="platformChangeUser" name="platformId">
                                                <option value="1" {% if app.user.platformid is same as 1 %} selected {% endif %}>PC</option>
                                                <option value="2" {% if app.user.platformid is same as 2 %} selected {% endif %}>XBOX</option>
                                                <option value="3" {% if app.user.platformid is same as 3 %} selected {% endif %}>PS</option>
                                                <option value="4" {% if app.user.platformid is same as 4 %} selected {% endif %}>Switch</option>
                                            </select>
                                        </div>
                                        <div class="col-12 mt-3" id="buttons">
                                            <div class="col-4">
                                                <button class="btn btn-outline-secondary closeButton" data-title="Cancel adding" type="button">Cancel</button>
                                            </div>
                                            <div class="col-2 offset-6">
                                                <button type="submit" class="btn btn-outline-primary submit" data-title="Add to watchlist">Create</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
